.splash__services {
  text-align: center;
  margin: 0% 10% 2% 10%;
}

.splash__service {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  margin: 1px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border: 1px solid black;
  transition: background-color 0.5s ease;
}

.splash__service__blank {
  text-align: center;
  font-size: 16px;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  margin: 1px;
  width: 200px;
  height: 200px;
  line-height: 200px;
}
  
.splash__service:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.service {
  margin: 0 auto;
  width: 80%;
  min-width: 400px;
  text-align: center;
}

.service__quote {
  background: #eee;
  height: 100px;
}

.service__quote__text {
  font-family: 'Roboto Slab', sans-serif;
  width: 90%;
  margin: 0 auto;
  height: 40px;
  padding-top: 20px; 
  font-size: 16px;
}

.service__quote__by {
  font-family: 'Roboto Slab', sans-serif;
  font-style: italic;
  line-height: 3s0px;
  font-size: 14px;
}

.service__blog-posts {
  margin: 50px 0px 50px 0px;
  height: 75px;
  line-height: 75px;
  border: 1px solid black;
  font-family: 'Questrial', sans-serif;
  transition: background-color 0.5s ease;
}

.service__blog-posts:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.footer {
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}

.footer__links, .footer__established {
  display: inline-block;
  font-family: 'Roboto Slab', sans-serif;
}

ul.footer__links {
  padding-left: 0px;
  margin-left: 2%;
}

.footer__links li {
  list-style-type: none;
  line-height: 30px;
}

.footer__links a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer__established {
  float: right;
  text-align: right;
  font-size: 14px;
  font-style: italic;
  margin-right: 2%;
}
#root, .main-layout, body, html {
  width: 100%;
}

body, html {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 56px;
  height: 10%;
  letter-spacing: 2px;
  font-family: 'Questrial', sans-serif;
}

h4 {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 75px;
}

a {
  color: black;
}
